.worldCanvas {
    height: 100%;
    width: auto;
    z-index: 0;
    position: absolute;
    left: 0
}

.sideBar {
    float: right;
    height: 100%;
    width: auto;
    imageRendering: pixelated;
    z-index: 10;
    position: relative}

.heroBuilderOuter {
    position: absolute;
    background-color: black;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    bottom: 0
}

.heroBuilderOuter .heroBuilderInner {
    position: absolute;
    background-color: white;
}

.heroBuilderOuter .doneSymbol {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%
}

canvas {
    image-rendering: pixelated;
}
